# Virtual Environment
venv
newenv
# Local files
db.sqlite3

# Python Cache
__pycache__

#  Deployment config
# Contains credentials and config
local_settings.py
trash
staticfiles
0004_auto_20210309_1843.py
0005_auto_20210311_1351.py
0006_spectator_is_dwsim.py
