{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/png" href="{% static '/img/ches.png' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <title>Ches | IITM</title>
    <link rel="stylesheet" href="{% static '/css/index1.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Gotu' rel='stylesheet'>
  <link rel="stylesheet" href="{% static '/css/chesanimation.css' %}">

  <style>
    .centred{
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    font-family: 'Gotu';
  }
.positioning{
    position: relative;
    top:20px;
    left: 45%;
    transform: translate(-45%, 0);
    color: #d3e0ea;
 }
.small{max-width:100px;margin:15px auto;border-width:4px;border-color:#d3e0ea;position:relative;bottom:15px;}
 body{
    position: relative;
    background-image: '';
    background: linear-gradient(white);


  }
  </style>

</head>
<body>
{% ifequal typ "danger" %}
<div class="alert alert-danger mt-5" style="text-align: center;">

            <div class="" style="color:rgba(206, 23, 69, 0.692);font-size:100px;">&#9863;</div>
                {{error.0}}
            <ul style="list-style-type: none;">
                <li><strong>{{error.1}}</strong></li>
                <li><strong>Your transaction mode is {{ mode }}</strong></li>
                <li><strong>Your transaction reference number is {{ txnid }}</strong></li>
                <li><strong>Your order list contains {% for i in error.2 %} {{i}}, {% endfor %}</strong></li>
                <li><strong>Amount: {{amnt}}</strong></li>
                <li><strong>Date and time of transaction: {{date}}</strong></li>
        </ul>

    </div>
{% endifequal %}

{% ifequal typ "success" %}
<div class="alert alert-success mt-5" style="text-align: center;">

            <div class="" style="color:rgba(44, 194, 69, 0.692);font-size:100px;">&#9786;</div>

                {{error.0}}
            <ul style="list-style-type: none;">
                <li><strong>{{error.1}}</strong></li>
                <li><strong>Your transaction mode is {{ mode }}</strong></li>
            <li><strong>Your transaction reference number is {{ txnid }}</strong></li>
            <li><strong>Your order list contains {% for i in error.2 %} {{i}}, {% endfor %}</strong></li>
            <li><strong>Amount: {{amnt}}</strong></li>
                <li><strong>Date and time of transaction: {{date}}</strong></li>

              </ul>

    </div>
{% endifequal %}

{% ifequal typ "info" %}
<div class="alert alert-info mt-5" style="text-align: center;">

                    <div class="" style="color:rgba(44, 184, 194, 0.692);font-size:100px;">&#9863;</div>


                        {{error.0}}
                     <ul style="list-style-type: none;">
                         <li><strong>{{error.1}}</strong></li>
                         <li><strong>Your transaction mode is {{ mode }}</strong></li>
                   <li><strong>Your transaction reference number is {{ txnid }}</strong></li>
                   <li><strong>Your order list contains {% for i in error.2 %} {{i}}, {% endfor %}</strong></li>
                         <li><strong>Amount: {{amnt}}</strong></li>
                         <li><strong>Date and time of transaction: {{date}}</strong></li>
                      </ul>

            </div>
{% endifequal %}
<div class="text-center mb-5"><img src="{% static '/img/logo.png' %}" width="100px"></div>
</body>
</html>