<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
<p style='text-align:center;font-weight:bold;font-size:20px;'>Welcome aboard {{Pname}} !! <br> We are really happy to have you as a member of our chem plus fmaily</p>
<h1 style='text-align:center;color:#161251;padding:30px;'><span style='padding:30px;background-color:#f9925a;border-radius:20px;font-family:sans-serif;'><b>{{uid}} </b></span></h1>
<div style='font-size:50px;font-weight:bold;'><span><img width='50px' style='vertical-align:middle' src='https://ches.iitm.ac.in/chemplus/2021/images/logo.png' alt='logo'><font style='margin:10px;margin-top:20px;font-family:sans-serif;'>Chem+</font></span></div>
</body>
</html>