<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p style='text-align:center;font-weight:bold;font-size:20px;'>Hi {{name}} !! <br> You are just steps away from being an invaluable part of the ChemPlus family!! Enter the given OTP to verify your email</p>
<h1 style='text-align:center;color:#161251;padding:30px;'><span style='padding:30px;background-color:#f9925a;border-radius:20px;font-family:sans-serif;'><b>{{otp}} </b></span></h1>
<div style='font-size:30px;font-weight:bold;'><span><img width='50px' style='vertical-align:middle' src='https://ches.iitm.ac.in/chemplus/final-chemplus/images/logo.png' alt='logo'><font style='margin:10px;margin-top:20px;font-family:sans-serif;'>Chem+</font></span></div>
</body>
</html>