<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ches IITM</title>
</head>
<body>
<p style='text-align:center;font-weight:bold;font-size:20px;'>Thank you {{Pname}}({{uid}}) for registering for <b>{% for i in message.0 %}{{i}},{% endfor %}</b></p>
  <b>Your Transaction details -</b><br>
  <b>TxnID : {{message.1}}</b><br>
   <b>Txn Amount : {{message.2}}</b><br>
<!--<b><strong  style="color:red;">Make a note:</strong> Please do not forget to fill the <a href="https://docs.google.com/forms/d/e/1FAIpQLSdZG01VJQkZMMzWr_W1_E2zqWeGDllg-EqUlZQq6k30nHnkUQ/viewform">google form</a></b></br>-->
<!--<br><b>For any queries do not reply back.Contact the corresponding co-ordinator.</b><br>-->


  <b><strong>Regards,</strong></b><br>
 <b><strong>Team Ches</strong></b>
<div style='font-size:30px;font-weight:bold;'><span><img width='50px' style='vertical-align:middle' src='https://ches.iitm.ac.in/chemplus/final-chemplus/images/logo.png' alt='logo'><font style='margin:10px;margin-top:20px;font-family:sans-serif;'>Chem+</font></span></div>

</body>
</html>